/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 4, 2017, 12:16:54 PM
    Author     : Gonzalo Pulido Mendoza
*/
html {background: #003399;
      color: #ffcc00}
section {text-align: center}
header {text-align: center}
table {margin: 0 auto}
a {color: black}
H2 {color: #ffcc00}
input{border-radius: 5px;
       text-align: left;
       width: 150px}
textarea {border-radius: 5px}
.list {color: black;
       background: white;
       border: black solid 1px;
       border-collapse: collapse}
.lista{color: black;
       background: #ffcc00;
       border: black solid 1px;
       border-collapse: collapse;
       text-align: center}
th {text-align: left}


